/laravel/public/node_modules
/laravel/public/img
/docker-containers
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.phpunit.result.cache
/laravel/docker-compose.override.yml
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log
