:root {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

.thumbnail {
    max-width: 30rem;
    height: auto;
}

.h-captcha {
    text-align: center;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: .2s;
}

.slider-buttons {
    text-align: center;
}

.row-view {
  display: flex;
  flex-direction: column;
}
.slider-item {
    border-right: none;
}

@media only screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }
}
