:root {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

input[type="radio"] {
    display:none;   
}

input[type="radio"]:checked + label {
    border: solid 3px #40a5fc;
}

.card img {
    min-width: 15px;
    max-height: 100px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: .2s;
}

.row-view {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
    :root {
        font-size: 16px;
    }
}
/* LIST VIEW*/
#lgDemo {
  display: grid;
  grid-template-columns: 100%;
}
/* TRANSFORM TO GRID VIEW */
#lgDemo.grid { 
	grid-template-columns: 30% 30% 30%; 
	margin: 10px;
}
